/* test contact form */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

  
  body{
font-family: 'Outfit';
background: linear-gradient(#ffdad5, #fff7f9);

  }
  .contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
  
  }
  .contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
  }
  .contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
  }
  .contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

  }
  /* highlights the outter input boxes when they are selected*/
  .contact-inputs:focus{
    border: 2px solid #ff994f;
  }
  /* placeholder text prior to input*/
  .contact-inputs::placeholder
  {
    color: lightgrey;
  }
  .contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: pink;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
  }
  @media (max-width: 800px){
    .contact-inputs{
        width: 80vw;
    }
  }
  /* footer*/

.footer-background {
  background-color: #deded5;

}

.thank-you-title {
  letter-spacing: 2px;
  color: #818963;
}

.team-title {
  letter-spacing: 2px;
  color: #818963;
  
}

.team-link {
  color: #4f4f4f;
  
}

.team-link:hover {
  color: #818963;
  text-decoration: none;
}

.copyright-background {
  background-color: rgba(#ffdad5, #fff7f9);
}